@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@font-face {
    font-family: 'Heavitas';
    src: url(../font/Heavitas.ttf);
}

:root {
    --font: 'Rubik', sans-serif;
    --font1: 'Heavitas', sans-serif;
    --cor: #0046DE;
    --cor1: #BF15D4;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: var(--cor);
    width: 100vw;
    height: 100vh;

}

header {
    max-width: 80vw;
    margin: auto;
    padding: 20px 0px;
    text-align: center;

}

h1, h2 {
    text-align: center;
    padding: 0px 10px;
    font-family: var(--font1);
    font-weight: lighter;
    color: white;
}

main {
    padding: 10px;
}


#container {
    background-color: #BF15D4;
    max-width:1020px;
    min-height: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.358);
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    justify-items: center;
}

#container > img {
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.671);
    height: 35vh;
}

#container > form {
    width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#container-input {
    width: max-content;
    margin: auto;
    padding: 10px 5px;
    
}

input {
    
    margin-bottom: 10px;
}

label, p {
    font-family: var(--font);
    text-shadow: 0px 0px .5px black;
}

.inptxt {
    border-radius: 5px;
    border: .5px rgba(0, 0, 0, 0.400) solid;
    width: 200px;
    padding: 5px;
}

.inptxt:focus {
    outline-style: solid;
    outline-width: .5px;
    outline-color: #0046de9a;
}
#instaform {
    height: 18px;
}


#abbr-insta {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
    padding: 5px 5px 5px 0px;
}

#btt {
    display: block;
    padding: 10px 30px;
    margin: 15px auto;
    border-radius: 5px;
    border: none;
    background-color: #26b0e7;
    font-family: var(--font);
    font-weight: bold;
    font-size: 16px;
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.422);
}

#btt:hover {
    background-color: #006c96;
}

@media (max-width: 660px) {

    body, html {
        width: 96vw;
        margin: auto;
    }
    
    #container {
        max-width: 400px;
        padding-bottom: 20px;
    }

    #container > img {
        border: none;
        margin-bottom:  -2px;
    }
}

footer {
    width: 80vw;
    margin: auto;
    padding: 20px;

}