* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    
}

header {
    padding: 30px 20px 0px 20px;
    display: inline-block;
    text-align: center;
    background-color: #2c344d;
    background-image: url(../img/backgroundweb720.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 24vh;
    width: 100%;
}


header img {
    margin: 0px 5%;
    border-radius: 100%;
    border: 3px solid #2c344d;
    padding: 2px;
    background-color: white;
    
}

#principal {
    width: 100%;
    background-color: #2c344d;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 10% 0px;
    padding: 5%;
    gap: 5%;
    
}

#principal img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.616);
    border-radius: 10px;
}

#principal > section {
    padding: 5%;
    max-width: 500px;
    color: white;
    text-align: center;
}

