<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="./css/estilo.css">
</head>
<body>
    <header>
        <div id="cabecalho">
            <picture>
                <source media="(max-width: 280px)" srcset="./img/deivison150.png">
                <source media="(max-width: 345px)" srcset="./img/deivison200.png">
                <!-- <source media="(max-width: 500px)" srcset="./img/deivison250.png"> -->
                <img id="img1" src="./img/deivison250.png" alt="Foto Deivison">
            </picture>
        </div>
    </header>
    <main>
        <div id="principal">
            <picture>
                <source media="(max-width: 280px)" srcset="./img/deivisonm150.png">
                <source media="(max-width: 345px)" srcset="./img/deivisonm200.png">
                <source media="(max-width: 500px)" srcset="./img/deivisonm250.png">
                <img id="img1" src="./img/deivisonm300.png" alt="Foto Deivison">
            </picture>
            <section>
                <h2>Sub titulo da section</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, dolorem, natus soluta impedit harum numquam eligendi perferendis ea tempora aut iusto, cum a esse nihil. Voluptatum sint eum nostrum ipsa as.</p>
            </section>
        </div>
    </main>
</body>
</html>