<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Johnny</title>
    <link rel="stylesheet" href="./css/estilo.css">
</head>
<body>
    <header>
    <div class="container">

            <div class="container1">

                <div class="arroba">
                    <h2>@DEVDEIVISONJOHNNY</h2>
                </div>

                <!-- <div class="menu">
                    <div class="linha"></div>
                    <div class="linha"></div>
                    <div class="linha"></div>
                </div> -->

                <h1>Bem vindo ao <br> mundo dos devs</h1>
                <p>Se você é da área de tecnologia ou está querendo entrar nesse mundo, se inscreva no meu portal para receber conteúdos exclusivos sobre carreira como programador</p>

                <div class="container-botao"><a href="#" id="botao"><span>Inscrever-se</span></a></div>

                <nav>
                    <a href="#"><img src="imglayout/instagram30.png" alt="Logo Instagram"></a> 
                    <a href="#"><img src="imglayout/youtube30.png" alt="Logo youtube"></a> 
                    <a href="#"><img src="imglayout/github30.png" alt="Logo Github"></a> 
                    <a href="#"><img src="imglayout/linkedin30.png" alt="Logo Linkedin"></a>
                    <a href="#"><img src="imglayout/facebook30.png" alt="Logo Facebook"></a> 
                    <a href="#"><img src="imglayout/twitter30.png" alt="Logo Twitter"></a> 
                </nav>

            </div>
            
            <div class="bgimg"><img src="img/loborecort.png" alt="Deivison">
            </div>
    </div>
           
            
            
    
    </header>
    <main>
        <section class="parte1">
            <img src="#" alt="">
            <div class="conteudo1">
                <h2>Quem é Deivison Johnny</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, inventore incidunt maxime sunt fugit expedita esse reprehenderit, rem quae, tenetur repudiandae officia? Repellat quia qui quis deleniti natus fugit accusamus?</p>
            </div>
        </section>
        <section class="parte2">
            <h2>Apostila gratuita para iniciantes</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magni voluptas repellendus ex sint numquam est odit accusantium. Quasi, minus. Labore eaque eveniet ipsum voluptatibus sapiente. Consequatur debitis dolor eos.</p>
            <a href="#" download="#"><span>Download</span></a>
        </section>
        
    </main>
</body>
</html>