<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <div id="container">
        <form action="#" method="post">
                
            <label for="inome">Nome</label> <br>
            <input type="text" name="nome" id="inome"> <br>

            <label for="isobren">Sobrenome</label><br>
            <input type="text" name="sobren" id="isobren"> <br>

            <label for="iemail">Email</label> <br>
            <input type="email" name="email" id="iemail"> <br>

            <label for="itele">Telefone</label> <br>
            <input type="tel" name="tele" id="itele"> <br>

            <p>Sexo</p> <br>
            
            <input type="radio" name="sexo" id="imasc">
            <label for="imasc">Masculino</label> <br>
            
        </form>
    </div>
</body>
</html>