@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Rubik & display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@font-face {
    font-family: 'helvitas';
    src: url(../font/Heavitas.ttf);
}

:root {
    --font1: 'Rubik', sans-serif;
    --font2: 'Rubik', sans-serif;
    --font3: 'helvitas', Arial, Helvetica, sans-serif;
    --font4: 'Poppins', sans-serif;
    --font5: 'Rubik', sans-serif;
    --cor1: #0046DE;
    --cor2: #e1e5f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cabecalho */

html, body {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--cor1);
    padding: 20px;

}

.container {  
    padding: 10px;
    margin: 10vh 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}



.arroba > h2 {
    max-width: 800px;
    color: rgba(255, 255, 255, 0.438);
    font-family: var(--font1);
}

h1 {
    margin: 30px 0px;
    max-width: 800px;
    color: var(--cor2);
    font-family: var(--font4);
    font-weight: bold;
    font-size: 85px;
    height: min-content;
    line-height: 90px;
}

header p {
    line-height: 30px;
    margin-top: 20px;
    margin-right: 100px;
    max-width: 800px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font5);
    color: var(--cor2);
}

.bgimg {
    display: block;
    margin: 20px auto;
    width: max-content;
}

.bgimg img {
    width: 20vw;
    
}

.container-botao {
    box-sizing: border-box;
    height: 50px;
    margin: 30px 0px;
}

header #botao {
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: var(--font2);
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 30px;
}

#botao:hover {
    background-color: #0046DE;
    font-size: 20px;
    padding: 10px 22px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.501);
    transition: 0.2s;
}

nav > a img {
    height: 25px;
    padding: 0px 15px;
}

@media (max-width: 1205px) {
    header {
        padding: 2vh;
    }
    .container {
        margin: 0px auto;
    }
}

@media (max-width: 980px) {
    .container {
        margin: 0px auto;
    }

    .container1 nav {
        display: block;
        height: 50px;
        text-align: center;
    }

}

@media (max-width: 340px) {

    .container {
        margin: 0vh auto;
    }

    header h2 {
        font-size: 15px;
    }

    header h1 {
        font-size: 50px;
        line-height: 50px;
    }
    header p {
        font-size: 15px;
    }

    .container1 > nav {
        height: 30px;
        text-align: center;

    }

    .container1 > nav a {
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        display: inline;
    }

    .container1 > nav img {
        display: inline-block;
        text-align: center;
        height: 16px;
        gap: 10px;
        padding: 10px;
        margin: 0;
    }
}

/* Principal */

main {
    max-width: 100vw;

}

.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 0px 30px;
    height: max-content;
}

.imgdeiv {
    display: inline-block;
    max-width: max-content;
    height: 450px;
    margin-top: 10vh;
    padding: 0px;
}

.section1 > .imgdeiv > img {
    margin-top: 0px;
    /* padding: 20vh; */
    text-align: center;
    height: 450px;
}

.conteudo1 {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.conteudo1 > h2 {
    color: #070a4b;
    font-family: var(--font1);
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 5vh;
    border-bottom: 2px solid rgba(128, 128, 128, 0.373);
}

.conteudo1 > p {
    font-size: 18px;
    color: #2d2d2d;
    font-family: var(--font5);
    font-weight: 500;
    text-shadow: 0px 0px 1px #2d2d2d;
}

.section2 {
    height: 600px;
    background-color: #0046de;
    background-image: url(../imglayout/backgroundazul720.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.conteudo2 {
    width: 100%;
    height: 90%;
}

.conteudo2 > .imgf {
    margin: auto;
    max-width: max-content;
}

.conteudo2 > .imgf > img {
    margin: 15vh 0px 5vh 0px;
    text-align: center;
    border-radius: 5px;
    height: 250px;
}

.part2c {
    padding: 10px;
    margin: auto;
    max-width: 500px;
}

.part2c > h2 {
    text-align: center;
    font-family: var(--font1);
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.622);
}

.part2c > p {
    font-family: var(--font5);
    color: white;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.651);
}
